
.footer{
    margin-top: 4rem;
    padding-top:2rem;
    background: #0D2240;
   
}

.logo  {
  display:flex;
  flex-direction:column;

 padding:3rem;
}


 .links {
    padding:3rem;
    display:flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction:column;
}


@media screen and (max-width:680px) {
    .footer{
       
        height:fit-content;
    }
    
}